* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 200vh;
    background-color: rgb(177, 208, 240);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: orange;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-login {
    margin-right: 1rem;
}

.manager-user {
    padding: 1rem;
}

.logout {
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #6c6c6c;
    cursor: pointer;
    border-radius: 1px;
}

.footer {
    background-color: orange;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-icon {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: blue;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.chat-icon box-icon {
    color: #fff;
    fill: #fff;
    width: 30px;
    height: 30px;
}


/* form */
.form-block {
    opacity: 0;
    position: fixed;
    width: 0%;
    right: -100%;
    bottom: 8rem;
    transition: all .3s ease-out;
    background-color: gray;
    border-radius: 4px;
    overflow: hidden;
}

#form-block {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    padding: 1rem;
    position: relative;
}

.form-block.active {
    opacity: 1;
    width: 600px;
    right: 3rem;
}

.form-wrapper h2,
.form-content h2 {
    text-align: center;
    margin-block: 1rem;
}

.form-wrapper label {
    margin-block: 0.5rem;
    display: block;
}

.form-wrapper select {
    margin-bottom: 20px;
}

.form-wrapper input, 
.form-wrapper textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
}

.form-wrapper input {
    margin-bottom: 1rem;
}

.form-wrapper #email {
    margin-bottom: 1rem;
}

.form-wrapper #select-label {
    display: inline-block;
    margin-right: 20px;
}

.form-wrapper button {
    padding: 0.2rem 0.5rem;
    border: 1px solid #fff;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: #fff;
    transition: all .4s ease-out;
}

.form-wrapper .btn-block {
    display: flex;
    align-items: center;
    justify-content: end;
}

.form-wrapper button:hover {
    background-color: #c2d5f4;
}

#messageList {
    background-color: #000;
    color: #fff;
    margin-block: 2px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    max-height: 400px;
    padding: 10px;
    transition: all 0.5s ease-out;
}

#messageList.active {
    height: 400px;
    opacity: 1;
    overflow-y: scroll;
}


.form-close-btn {
    position: absolute;
    right: 16px;
    top: 35px;
    cursor: pointer;
    z-index: 10;
}

.form-close-btn i {
    font-size: 20px;
}


/* message */
.message-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0px 5px;
    border-radius: 20px;
    background-color: #272626;
    margin-bottom: 10px;
    border: 2px solid #272626;
}

.message-block.message-manager,
.message-block.message-admin {
    margin-left: auto;
}

.message-block.message-manager {
    background-color: #160840;
}

.message-block.message-admin {
    background-color: #03390a;
}

.message-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.message-block__content {
    margin-bottom: 10px;
}

.message-avatar {
    background-color: #5d82e5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 50%;
    margin: 5px;
}

.message-name {
    text-transform: capitalize;
    color: #ed9f75;
}

.message-block.message-manager .message-avatar {
    background-color: #2e1870;
}

.message-block.message-admin .message-avatar {
    background-color: #097918;
}